body {
    font-family: arial, serif;
    color: white;
    background-color: black;
}

.maindiv {
    margin: auto;
    color: black;
    background-color: white;
    width: 350px;
    border-radius: 25px;
    padding: 20px;
}

h1 {
    font-family: verdana, sans-serif;
    color: grey;
    text-align: center;
}

table {
    margin: auto;
    table-layout: fixed;
    width: max-content;
    align-items: center;
    white-space: nowrap;
}
